<ul class="govuk-list">
  <li><%= govuk_link_to "Sign-in with a one time password", otp_sign_in_path, no_visited_state: true %></li>
  <li><%= govuk_link_to "Sign-in with a persona", personas_path, no_visited_state: true %></li>
</ul>
