<% page_data(title: "Select a sign in method") %>

<%= govuk_list(login_options) %>

<% if Rails.application.config.dfe_sign_in_enabled %>
  <!-- FIXME: delete this! -->
  <%= form_with url: '/auth/dfe_sign_in' do %>
    <button>Log in</button>
  <% end %>
<% end %>
