*.log
.DS_Store
.bundle
.env
.env.local
.envrc
.idea
.vscode

documentation/**/*.html
documentation/site/output
documentation/site/tmp
documentation/site/crash.log

config/master.key
db/*.sqlite3
node_modules
public/assets

app/assets/builds/*
!app/assets/builds/.keep

log/*
!log/.keep

tmp/*
!tmp/.keep

tmp/pids/*
!tmp/pids/
!tmp/pids/.keep
