<div class="govuk-body govuk-!-font-size-14 migration-period">
  <div class="migration-period-title">
    Mentorship period<span class="migration-object-id">(<%= object_id %>)</span>
  </div>
  <div class="migration-period-body">
    <%= mentor_name %></br>
    <%= period_dates %>
  </div>
</div>
