<div class="govuk-body govuk-!-font-size-14 migration-period">
  <div class="migration-period-title">
    Mentorship period<span class="migration-object-id">(<%= mentorship_period.id %>)</span>
  </div>
  <div class="migration-period-body">
    <%= mentor_name %></br>
    <%= mentorship_period.started_on %> - <%= mentorship_period.finished_on || "" %>
  </div>
</div>
