<div class="migration-failure">
  <h3 class="govuk-heading-s"><%= description %></h3>
  <div class="migration-row">
    <%= render Migration::ParticipantProfileComponent.new(participant_profile:) %>
  </div>
</div>
