<div class="govuk-body govuk-!-font-size-14 migration-period">
  <div class="migration-period-title">
    School period<span class="migration-object-id">(<%= period_id %>)</span>
  </div>
  <div class="migration-period-body">
    <%= school_name_and_urn %></br>
    <%= period_dates %>
  </div>
</div>
