<% page_data(title: @teacher.full_name, backlink_href: admin_teachers_path(page: @page)) %>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |row|
      row.with_key(text: "Name")
      row.with_value(text: @teacher.full_name)
    end

    sl.with_row do |row|
      row.with_key(text: "TRN")
      row.with_value(text: @teacher.trn)
    end

    sl.with_row do |row|
      row.with_key(text: "Induction status")

      # FIXME: This is a placeholder. The actual status should be displayed here.
      row.with_value(text: govuk_tag(text: "placeholder", colour: %w[grey green red purple orange yellow].sample))
    end
  end
%>
<% if @teacher.ect? %>
  <h3 class="govuk-heading-m">Early career teacher</h3>
  <% @ect_periods.each do |school_period| %>
    <%= govuk_summary_list do |sl|
      sl.with_row do |row|
        row.with_key(text: "School")
        row.with_value(text: school_period.school_name_and_urn)
      end

      sl.with_row do |row|
        row.with_key(text: "Started on")
        row.with_value(text: school_period.formatted_started_on)
      end

      sl.with_row do |row|
        row.with_key(text: "Finished on")
        row.with_value(text: school_period.formatted_finished_on)
      end
    end %>
  <% end %>
<% end %>

<% if @teacher.mentor? %>
  <h3 class="govuk-heading-m">Mentor</h3>
  <% @mentor_periods.each do |school_period| %>
    <%= govuk_summary_list do |sl|
      sl.with_row do |row|
        row.with_key(text: "School")
        row.with_value(text: school_period.school_name_and_urn)
      end

      sl.with_row do |row|
        row.with_key(text: "Started on")
        row.with_value(text: school_period.formatted_started_on)
      end

      sl.with_row do |row|
        row.with_key(text: "Finished on")
        row.with_value(text: school_period.formatted_finished_on)
      end
    end %>
  <% end %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "Migration detail", migration_teacher_details_path(@teacher, page: @page) %>
</p>
