<% page_data(title: "What you'll need to add a new mentor for #{@ect_name}", error: false, backlink_href: schools_ects_home_path) %>

<p class="govuk-body">You must provide the mentor's:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>teacher reference number (TRN)</li>
  <li>date of birth</li>
  <li>email address</li>
</ul>

<p class="govuk-body">You may also need to tell us about the mentor’s training programme.</p>

<%= govuk_button_link_to("Continue", schools_register_mentor_wizard_find_mentor_path) %>
