<% page_data(title: "Admin", error: false) %>

<p class="govuk-body">
  Placeholder page for the admin site
</p>

<%= govuk_summary_list(
  rows: [
    { key: { text: "Signed in as:" }, value: { text:  current_user.name } },
    { key: { text: "Email" }, value: { text:  current_user.email } },
    { key: { text: "Via" }, value: { text:  session_manager.provider } },
    { key: { text: "Session expires" }, value: { text: session_manager.expires_at.localtime.to_fs(:govuk) } },
  ]
) %>

<%= content_for(:sidebar) do %>
  <%=
    render Navigation::SubNavigationComponent.new(
      request.path,
      structure: admin_sub_navigation_structure
    )
  %>
<% end %>

