<% page_data(title: "Select an appropriate body") %>

<ul class="govuk-list">
  <% @appropriate_bodies.each do |ab| %>
    <li>
      <%= govuk_button_to(
        ab.name,
        appropriate_body_sessions_path,
        params: { appropriate_body_id: ab.id },
        secondary: true,
        method: :put
      ) %>
    </li>
  <% end %>
<ul>
