---
title: Background to the early career framework services
---

<h2 class="govuk-heading-m">Service rules</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/service-rules/appropriate-body-users/">Appropriate body users</a></li>
  <li><a href="/service-rules/delivery-partner-users/">Delivery partner users</a></li>
  <li><a href="/service-rules/dfe-users/">Internal users</a></li>
  <li><a href="/service-rules/lead-provider-users/">Lead provider users</a></li>
  <li><a href="/service-rules/school-admins">School admins</a></li>
</ul>

<h2 class="govuk-heading-m">Policy documentation</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/policy/induction-for-early-career-teachers/">Induction for early career teachers</a> </li>
  <li><a href="/policy/induction-arrangements-for-school-teachers-in-england/">Induction arrangements for school teachers in England</a></li>
</ul>

<h2 class="govuk-heading-m">Useful resources</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/glossary/">Glossary</a></li>
</ul>
