---
title: Early Careers Framework docs
---

<p class="govuk-body-l">Refer to this documentation to understand the services relating to the early career framework.</p>

<h2 class="govuk-heading-m">Service rules for different types of users</h2>

<ul class="govuk-list">
  <li><a href="/service-rules/appropriate-body-users/">Appropriate bodies</a></li>
  <li><a href="/service-rules/delivery-partner-users/">Delivery partners</a></li>
  <li><a href="/service-rules/dfe-users/">Department for Education staff</a></li>
  <li><a href="/service-rules/lead-provider-users/">Lead providers</a></li>
  <li><a href="/service-rules/school-admins">School admins</a></li>
</ul>

<h2 class="govuk-heading-m">Policy documentation</h2>

<ul class="govuk-list">
  <li><a href="/policy/induction-for-early-career-teachers/">Induction for early career teachers</a> </li>
  <li><a href="/policy/induction-arrangements-for-school-teachers-in-england/">Induction arrangements for school teachers in England</a></li>
</ul>

<h2 class="govuk-heading-m">Useful resources</h2>

<ul class="govuk-list">
  <li><a href="/glossary/">Glossary</a></li>
</ul>
