$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "../../../node_modules/govuk-frontend/dist/govuk/all";

.govuk-header__container {
  border-bottom: 10px solid govuk-colour('orange');
}

.policy-document {
    h2 {
        @extend %govuk-heading-l;
    }

    h3 {
        @extend %govuk-heading-m;
    }

    h4 {
        @extend %govuk-heading-s;
    }

    ol {
        @extend %govuk-list;
        @extend %govuk-list--number;
    }

    ul {
        @extend %govuk-list;
        @extend %govuk-list--bullet;
    }

    table {
        th {
            @include govuk-font($size: 19, $weight: bold);
        }

        th, td {
            padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
            border-bottom: 1px solid $govuk-border-colour;
            text-align: left;
            vertical-align: top;
        }
    }

    .footnote {
        @include govuk-font($size: 19);
    }
}

.service-rules {
    > p:first-of-type {
        @include govuk-font($size: 24);
    }
}

code {
  background: govuk-tint(govuk-colour('light-pink'), 80%);
  color: govuk-shade(govuk-colour('pink'), 25%);
  font-size: .9em;
  padding: .05em .2em;
}
