<% page_data(title: "Home", header: "It works! 🎉", error: false) %>

<p class="govuk-body">
  Your application is ready - so long as this page rendered without any errors you're good to go.
</p>

<%= govuk_summary_list(
  rows: [
    { key: { text: "Rails version" }, value: { text:  Rails.version } },
    { key: { text: "Ruby version" }, value: { text:  RUBY_VERSION } },
    { key: {
      text: "GOV.UK Frontend" },
      value: {
        text: JSON
          .parse(File.read(Rails.root.join("package.json")))
          .dig("dependencies", "govuk-frontend")
          .tr("^", "")
      }
    },
  ]
) %>

<%= content_for(:second_column) do %>
  <h2 class="govuk-heading-m">Second column</h2>

  <p class="govuk-body">This should be in the second column</p>
<% end %>
