<% page_data(title: "Contact support", error: false) %>

<p class="govuk-body">
  If you have a question, or you’ve had a problem using this service, contact us at <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk" %>.
</p>
