<% page_data(title: "Contact support", error: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      If you have a question, or you’ve had a problem using this service, contact us at <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk" %>.
    </p>
  </div>
</div>
