#!/usr/bin/env ruby

compile '/index.html' do
  layout '/default.*'
  filter(:erb)

  write(item.identifier)
end

compile '/product/roadmap.html' do
  layout '/roadmap.*'
  filter(:erb)

  write(item.identifier.without_ext + '/index.html')
end

compile 'content/roadmap/*.md' do
  filter(:govuk_markdown)
  layout('/default.*')

  # no writing, we'll pull this content in manually
  # in the roadmap page
end

compile '/service-rules/ecf1/*.md' do
  filter(:govuk_markdown)
  layout('/service-rules.*')
  write(item.identifier.without_ext + '/index.html')
end

compile '/**/*.md' do
  filter(:govuk_markdown)
  layout('/default.*')
  write(item.identifier.without_ext + '/index.html')
end

compile '/**/*.adoc' do
  filter(:asciidoctor)
  layout('/policy.*')
  write(item.identifier.without_ext + '/index.html')
end

postprocess do
  print "Rebuilding SCSS"
  `npx sass --quiet content/stylesheet.scss output/stylesheet.css`
  puts " ✅"

  print "Copying JavaScript"
  `mkdir output/javascript`
  `cp ../../node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.js output/javascript`
  puts " ✅"

  print "Copying fonts"
  `cp -R ../../node_modules/govuk-frontend/dist/govuk/assets/fonts output/fonts`
  puts " ✅"

  print "Copying images"
  `cp -R ../../node_modules/govuk-frontend/dist/govuk/assets/images output/images`
  puts " ✅"
end

passthrough '/**/*'

layout '/**/*', :erb
