#!/usr/bin/env ruby

compile '/**/*.html.erb' do
  layout '/default.*'
  filter(:erb)

  write(item.identifier.without_ext)
end

compile '/**/*.md' do
  filter(:govuk_markdown)
  layout('/default.*')
  write(item.identifier.without_ext + '/index.html')
end

postprocess do
  print "Rebuilding SCSS"
  `npx sass --quiet content/stylesheet.scss output/stylesheet.css`
  puts " ✅"
end

passthrough '/**/*'

layout '/**/*', :erb
