<div class="test-guidance">
  <h3 class="govuk-heading-m">Information to review this journey</h3>
  <p class="govuk-body">To successfully locate an ECT from the TRS API, use credentials from the table below:</p>
  <%= govuk_table(head:, rows:, ) %>
</div>

