<% page_data(title: "What is #{@mentor.full_name}'s email address?", error: @wizard.current_step.errors.present?, backlink_href: schools_register_mentor_review_mentor_details_path) %>

<p class="govuk-body">We need an email so we can ask for their consent to share their details if needed for
  training.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_email_field(:email, label: { text: "Enter your mentor's email address.", class: 'govuk-!-margin-bottom-4' }) %>

  <%= f.govuk_submit "Continue" %>
<% end %>
