<%= content_for :page_title, "You are not authorised to access this page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You are not authorised to access this page</h1>

    </p>
    <p class="govuk-body">
      If you have any questions, please email us at <%= support_mailto_link %>.
    </p>
  </div>
</div>
