<% if profile.present? %>
  <h3 class="govuk-heading-s">ECT records</h3>
  <% profile.induction_records.each do |record| %>
    <div class="migration-row">
      <div class="migration-column">
        <%= render Migration::InductionRecordComponent.new(induction_record: record) %>
      </div>
      <div class="migration-column">
        <%= render Migration::SchoolPeriodComponent.with_collection(record.ect_school_periods) %>
        <%= render Migration::TrainingPeriodComponent.with_collection(record.training_periods) %>
        <%= render Migration::MentorshipPeriodComponent.with_collection(record.mentorship_periods) %>
      </div>
    </div>
  <% end %>
<% end %>
