<% if profile.present? %>
  <h3 class="govuk-heading-s">Mentor records</h3>

  <% profile.induction_records.each do |record| %>
    <div class="migration-row">
      <div class="migration-column">
        <%= render Migration::SchoolPeriodComponent.new(school_period: record) %>
      </div>
      <div class="migration-column">
      </div>
    </div>
  <% end %>
<% end %>
