<% page_data(title: @teacher.full_name, backlink_href: admin_teacher_path(@teacher, page: @page)) %>

<div class="migration-row">
  <div class="migration-column">
    <%= render partial: "user", locals: { user: @user } %>
  </div>
  <div class="migration-column">
    <%= render partial: "teacher", locals: { teacher: @teacher } %>
  </div>
</div>

<%= render partial: "ect_records", locals: { profile: @ect_profile } %>
<%= render partial: "mentor_records", locals: { profile: @mentor_profile } %>
