<% full_name = [@teacher.first_name, @teacher.last_name].join(" ") %>
<% ect = @teacher.ect_at_school_periods.any? %>
<% mentor = @teacher.mentor_at_school_periods.any? %>

<% page_data(title: full_name, backlink_href: teachers_path(page: @page)) %>

<div class="migration-row">
  <div class="migration-column">
    <%= render partial: "teacher", locals: { teacher: @teacher } %>
  </div>
  <div class="migration-column">
    <%= render partial: "user", locals: { user: @user } %>
  </div>
</div>

<%= render partial: "ect_records", locals: { records: @ect_records } %>
<%= render partial: "mentor_records", locals: { records: @mentor_records } %>
