<%= form_with(url: "countries") do |form| %>
  <label for="my-autocomplete">Select your country</label>
  <div id="my-autocomplete-container"></div>

  <div>
    <%= form.submit "Go to country" %>
  </div>
<% end %>

<%= javascript_include_tag "autocomplete", "data-turbo-track": "reload", defer: true %>
