<%= javascript_include_tag "autocomplete", "data-turbo-track": "reload", defer: true %>

<%= form_with(url: countries_path, method: :post) do |form| %>
  <label class="govuk-label" for="my-autocomplete">Select your country</label>
  <div id="my-autocomplete-container"></div>
  <%= form.govuk_submit %>
<% end %>
