// helpers classes for migration diffs

.migration-row {
  display: flex;
  gap: 1em;
}

.migration-column {
  flex: 50%;
}

.matched {
  background-color: #dafbe2;
}

.unmatched {
  background-color: #ffebea;
}

.migration-period {
  border: $govuk-border-colour solid 1px;
  padding: 0;

  .migration-period-title {
    background-color: #f0f0f0;
    font-size: larger;
    font-weight: 800;
    padding: 0.5em;
  }

  .migration-object-id {
    float: right;
  }

  .migration-period-body {
    line-height: 1.4em;
    padding: 0.5rem;
  }
}
