<%= govuk_panel(title_text: "You have registered #{@ect.full_name} as an early career teacher") %>

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">We’ll let this person know you’ve registered them for ECF-based training at your school. They do not need to provide us with any more information.</p>
<%= govuk_link_to "Back to your ECTs", schools_ects_home_path %>
