<% page_data(title: "What is #{@ect.full_name}'s email address?", error: @wizard.current_step.errors.present?, backlink_href: schools_register_ect_review_ect_details_path) %>

<p class="govuk-body">You must provide an email address that your ECT can access. You can update it later if needed.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_email_field(:email, label: { text: "Enter your ECT's email address.", class: 'govuk-!-margin-bottom-4' }) %>

  <%= f.govuk_submit "Continue" %>
<% end %>
