<% page_data(title: "You cannot register #{@ect.full_name}", error: false) %>

<p class="govuk-body">Our records show <%= @ect.full_name %> has already completed their induction and is not eligible for further ECT training.</p>

<p class="govuk-body"><%= govuk_link_to("Register another ECT", schools_register_ect_find_ect_path) %></p>
