<% page_data(title: "What you'll need to register a new ECT", error: false) %>

<h2 class="govuk-heading-m">Personal information</h2>
<p class="govuk-body">You must provide your ECT's:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>date of birth</li>
  <li>email address</li>
  <li>teacher reference number (TRN)</li>
</ul>

<h2 class="govuk-heading-m">Training details</h2>
<p class="govuk-body">You will also need to tell us about your choice of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>appropriate body</li>
  <li>lead provider and delivery partner</li>
  <li>programme type</li>
  <li>mentor</li>
</ul>

<p class="govuk-body">If you have not assigned a mentor for your ECT, you can still register them by providing the
  mentor's details later.</p>

<%= govuk_button_link_to("Continue", schools_register_ect_find_ect_path) %>
