<% page_data(
  title: "#{pending_induction_submission_full_name(@pending_induction_submission)} is registered",
  header: false)
%>


<%=
  govuk_panel(title_text: "Success", text: "#{@pending_induction_submission.trs_first_name} #{@pending_induction_submission.trs_last_name} has been registered with #{@appropriate_body&.name}")
%>

<div class="govuk-button-group">
  <%= govuk_button_link_to("Register another ECT", new_ab_claim_an_ect_find_path, secondary: true) %>
  <%= govuk_button_link_to("Return to the homepage", ab_teachers_path, secondary: true) %>
</div>
