<% page_data(title: "Migration failures for #{@model}", backlink_href: migration_path) %>

<p class="govuk-body"><strong><%= @migration_failures.count %></strong> failed records</p>

<%= govuk_table do |table|
  table.with_head do |head|
    head.with_row do |row|
      row.with_cell(text: "No.")
      row.with_cell(text: "Source record")
      row.with_cell(text: "Validation failure")
    end
  end

  table.with_body do |body|
    @migration_failures.each_with_index do |failure, index|
      body.with_row(html_attributes: { class: "govuk-!-font-size-16" }) do |row|
        row.with_cell(text: index + 1)
        row.with_cell(text: failure_item_json_code(failure.item))
        row.with_cell(text: failure.failure_message)
      end
    end
  end
end %>
