<% page_data(title: "Record induction as an appropriate body", error: false) %>

<p class="govuk-body">
  This service is for appropriate bodies that are supporting the statutory induction of early career teachers (ECTs).
</p>

<p class="govuk-body">
  Use this service to:
</p>

<%=
  govuk_list(
    [
      %(report statutory induction details),
      %(specify which ECTs' induction you support),
      %(tell us which ECTs' induction you no longer support),
      %(review an ECT's induction history and progress),
      %(tell us if an ECT has passed, failed or had their induction extended)
    ],
    type: :bullet
  )
%>

<%= govuk_start_button(text: 'Sign in', href: '#') %>
