<% page_data(title: "Migrations") %>

<p class="govuk-body">You can run the migration from ECF using this migration tool.</p>

<% if @starting_migration || @in_progress_migration %>
  <%= render(partial: "in_progress_migration") %>
<% elsif @completed_migration %>
  <%= render(partial: "completed_migration") %>
  <%= govuk_button_to("Reset all migration data", { action: :reset }, warning: true) if Rails.application.config.enable_migration_testing %>
<% else %>
  <%= govuk_button_to "Run migration", { action: :create }, warning: true, disabled: @data_migrations.present? %>
<% end %>
